<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Licorice&family=Luxurious+Roman&family=Oswald:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Inicio de Sesi칩n</title>
</head>

<body>
    <header class="header">
        <div>
            <a class="header__logo" href="/">meOrganizoApp</a>
        </div>
        <nav id="menu" class="header__nav">
            <ul class="header__list">
                <li class="listitem"><a href="/">Inicio</a></li>
                {{#if user}}
                <li class="listitem"><a href="/profile">Perfil</a></li>
                <li class="listitem"><a href="/auth/logout">Cerrar Sesi칩n</a></li>
                {{else}}
                <li class="listitem"><a href="/login">Iniciar Sesi칩n</a></li>
                <li class="listitem"><a href="/register">Registro</a></li>
                {{/if}}
            </ul>
        </nav>
        <div class="header__btn">
            <i id="btn" class="fas fa-bars fa-2x"></i>
        </div>
    </header>

    <main class="main specialbackground">
        <article class="home">
        <form class="home__generalelement home__form" action="/auth/login" method="POST" id="formLogin">

            <label for="loginEmail">Correo</label>
            <div class="home__formgroup">
                <input type="email" id="loginEmail" name="email" required>
                <span id="iconLoginEmail" class="home__formicon"><i class="fas fa-check-circle"></i></span>
            </div>
            <p class="home__formvalidate" id="validLoginEmail"></p>
        
            <label for="loginPassword">Contrase침a</label>
            <div class="home__formgroup">
                <input type="password" id="loginPassword" name="password" required>
                <span id="iconLoginPassword" class="home__formicon"><i class="fas fa-check-circle"></i></span>
            </div>
            <p class="home__formvalidate" id="ruleLoginOne"></p>
            <p class="home__formvalidate" id="ruleLoginTwo"></p>
            <p class="home__formvalidate" id="ruleLoginThree"></p>


            <button type="submit" id="btnlogin" class="home__button home__buttondimensions_secondary">Login</button>
        </form>

        </article>

        {{#if message}}
        <h4>{{message}}</h4>
        {{/if}}
        </div>

    </main>


    <footer class="footer">
        2022
    </footer>

    <script type="module" src="/js/login.js"></script>
    <script type="module" src="/js/functions.js"></script>
    <script type="module" src="/js/nav.js"></script>
</body>

</html>