<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Licorice&family=Luxurious+Roman&family=Oswald:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Registro</title>
</head>

<body>

    <header class="header">
        <div>
            <a class="header__logo" href="/">meOrganizoApp</a>
        </div>
        <nav id="menu" class="header__nav">
            <ul class="header__list">
                <li class="listitem"><a href="/">Inicio</a></li>
                {{#if user}}
                <li class="listitem"><a href="/profile">Perfil</a></li>
                <li class="listitem"><a href="/auth/logout">Cerrar Sesi칩n</a></li>
                {{else}}
                <li class="listitem"><a href="/login">Iniciar Sesi칩n</a></li>
                <li class="listitem"><a href="/register">Registro</a></li>
                {{/if}}
            </ul>
        </nav>
        <div class="header__btn">
            <i id="btn" class="fas fa-bars fa-2x"></i>
        </div>
    </header>

    <main class="main specialbackground">

        <article class="home">

            <form class="home__generalelement home__form" action="/auth/register" method="POST" id="formRegister">

                <label for="registerName">Nombre</label>
                <div class="home__formgroup">
                    <input type="text" id="registerName" name="name" required>
                    <span id="iconRegisterName" class="home__formicon"><i class="fas fa-check-circle"></i></span>
                </div>
                <p class="home__formvalidate" id="validRegisterName"></p>


                <label for="registerEmail">Correo</label>
                <div class="home__formgroup">
                    <input type="email" id="registerEmail" name="email" required>
                    <span id="iconRegisterEmail" class="home__formicon"><i class="fas fa-check-circle"></i></span>
                </div>
                <p class="home__formvalidate" id="validRegisterEmail"></p>


                <label for="registerPassword">Contrase침a</label>
                <div class="home__formgroup">
                    <input type="password" id="registerPassword" name="password" required>
                    <span id="iconRegisterPassword" class="home__formicon"><i class="fas fa-check-circle"></i></span>
                </div>
                <p class="home__formvalidate" id="ruleone"></p>
                <p class="home__formvalidate" id="ruletwo"></p>
                <p class="home__formvalidate" id="rulethree"></p>

                <label for="passwordConfirm">Confirmar contrase침a</label>
                <div class="home__formgroup">
                    <input type="password" id="passwordConfirm" name="passwordConfirm" required>
                    <span id="iconRegisterPasswordConfirm" class="home__formicon"><i class="fas fa-check-circle"></i></span>
                </div>
                <p class="home__formvalidate" id="validPass"></p>

                <button type="submit" id="btnregister" class="home__button home__buttondimensions_secondary">Registrar Usuario</button>
            </form>
        </article>

        {{#if message}}
        <h4>{{message}}</h4>
        {{/if}}

    </main>

    <footer class="footer">
        2022
    </footer>

    <script type="module" src="/js/register.js"></script>
    <script type="module" src="/js/functions.js"></script>
    <script type="module" src="/js/nav.js"></script>
</body>

</html>